html {
  background-color: #2C2D2E;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 406px;
}

.popup_body {
  position: relative;
  padding: 32px;
  border-radius: 8px;
  background: #fff;
}

.title {
  position: relative;
}

.title h2 {
  display: inline-block;
  vertical-align: top;
  width: 286px;
  margin: 0 0 16px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 32px;
  color: #3E3E3E;
}

.title img {
  position: absolute;
  top: 12px;
  right: 12px;
}

.notification {
  position: relative;
  width: 298px;
  padding: 10px 10px 10px 34px;
  margin-bottom: 12px;
  border-radius: 4px;
}

.notification::before {
  position: absolute;
  top: 55%;
  left: 18px;
  transform: translate(-50%, -50%);
}

.notification_info {
  background: #D4D7DE;
}

.notification_info::before {
  content: url(../img/info.png);
}

.notification_check {
  background: #E9F8EB;
}

.notification_check::before {
  content: url(../img/check.png);
}

.notification_warning {
  background: #FFF8E0;
}

.notification_warning::before {
  content: url(../img/warning.png);
}

.notification_alert {
  background: #FDEAE4;
}

.notification_alert::before {
  content: url(../img/alert.png);
}

.notification_text {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.87em;
  line-height: 20px;
  color: #3E3E3E;
}

.popup_content p {
  margin: 0 0 32px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.87em;
  line-height: 22px;
  color: #3E3E3E;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.87em;
  line-height: 20px;
  text-decoration: none;
  border-radius: 4px;
}

.button_blue {
  margin: 0 12px 0 0;
  background: #3E56AA; 
  color: #fff;
}

.button_grey {
  margin: 0 81px 0 0;
  background: #F0F1F3;
  color: #2C2D2E;
}

.button_white {
  margin: 0;
  background: #fff;
  color: #3E56AA;
}