section {
  text-align: center;
}

.card {
  margin: 30px 15px;
  width: 550px;
  height: 610px;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__img img {
  height: 350px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.card__title {
text-align: center;
}

.card_description {
  font-size: 1.2em;
  height: 180px;
  margin: 0 10px 10px 10px;
}
